<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar> 
  <ion-searchbar  (ionInput)="onInput($event)">
  </ion-searchbar>
</ion-header>

<ion-content padding>
  <p>

    <ion-list>
       
      <ion-item *ngIf="results.length < 1 ">
        aucun résulat
      </ion-item>
        <ion-item *ngFor="let current of results">
          <ion-thumbnail item-start>
            <img [src]="current.image">
          </ion-thumbnail>
          <h2>{{current.title}}</h2>
          <p>{{current.author}} {{current.date}}</p>
          <button ion-button clear item-end>View</button>
        </ion-item>
    
    </ion-list>
  </p>
</ion-content>